.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__wYnzr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__wYnzr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wYnzr > :global(.__wab_flex-container) > *,
.freeBox__wYnzr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wYnzr > :global(.__wab_flex-container) > picture > img,
.freeBox__wYnzr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__bZNc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bZNc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bZNc > :global(.__wab_flex-container) > *,
.freeBox__bZNc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bZNc > :global(.__wab_flex-container) > picture > img,
.freeBox__bZNc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__uA9Ft {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__ySc94 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Pt7E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__h0Ytl:global(.__wab_instance) {
  position: relative;
}
.svg__wUtAb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Uoea {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oOOyY:global(.__wab_instance) {
  position: relative;
}
.svg__ewEUc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fqFar {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nbyBk:global(.__wab_instance) {
  position: relative;
}
.svg__vV4E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m81Ly {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
