.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox___4Gpsn {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg__hnHAy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__liFoi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__evMBv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__evMBv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__evMBv > :global(.__wab_flex-container) > *,
.freeBox__evMBv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__evMBv > :global(.__wab_flex-container) > picture > img,
.freeBox__evMBv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.searchButtonsearchOpen:global(.__wab_instance) {
  min-width: 200px;
}
.svg__ntyF2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s4GfT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.searchInput:global(.__wab_instance) {
  position: relative;
  max-width: 200px;
  display: none;
}
.searchInputsearchOpen:global(.__wab_instance) {
  display: flex;
}
.svg__d8Kt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mzOf4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vKdb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__i8No1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.signIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tud81 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mDi61 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.signOut:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wUoN3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___41KCx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__oKpI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__tkY77 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text {
  height: auto;
  width: auto;
}
.svg__rokXw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
