.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.sectionempty {
  left: auto;
  top: auto;
}
.freeBox__wk55M {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__wk55M > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__wk55M > :global(.__wab_flex-container) > *,
.freeBox__wk55M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wk55M > :global(.__wab_flex-container) > picture > img,
.freeBox__wk55M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wk55M {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wk55M > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wk55M > :global(.__wab_flex-container) > *,
  .freeBox__wk55M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wk55M > :global(.__wab_flex-container) > picture > img,
  .freeBox__wk55M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__iogE0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__iogE0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iogE0 > :global(.__wab_flex-container) > *,
.freeBox__iogE0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iogE0 > :global(.__wab_flex-container) > picture > img,
.freeBox__iogE0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBoxempty__iogE0JU2He > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__wgss3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.textempty__wgss3JU2He {
  width: 100%;
  min-width: 0;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.cartItemempty:global(.__wab_instance) {
  display: none;
}
.freeBox__faPbk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__faPbk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__faPbk > :global(.__wab_flex-container) > *,
.freeBox__faPbk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__faPbk > :global(.__wab_flex-container) > picture > img,
.freeBox__faPbk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__x80VW {
  text-align: center;
}
.textempty__x80VWjU2He {
  text-align: left;
}
.svg___7O1Xn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bWqIj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kz6Kt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zoHzS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ijSh4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ijSh4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ijSh4 > :global(.__wab_flex-container) > *,
.freeBox__ijSh4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ijSh4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ijSh4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kvGuz {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__kvGuz > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kvGuz > :global(.__wab_flex-container) > *,
.freeBox__kvGuz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kvGuz > :global(.__wab_flex-container) > picture > img,
.freeBox__kvGuz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dPvZh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__toggX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__toggX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__toggX > :global(.__wab_flex-container) > *,
.freeBox__toggX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__toggX > :global(.__wab_flex-container) > picture > img,
.freeBox__toggX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__zmPQe {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__vfy76 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__fnqsu {
  color: #ffffff80;
}
.freeBox__npvNv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__eDeB {
  color: var(--token-u1tPThPhfzWl);
  text-align: right;
  font-weight: 600;
}
.freeBox__df30W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__sNm8I {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___0T4A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__pb9Fj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xvsAa {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__yXkcX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__r8UG {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__ylyRs:global(.__wab_instance) {
  position: relative;
}
.svg__uissi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__opdVy {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg___0Ii5I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__mm0Fd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__yxS6A {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__f6Yqw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text___4AnPn {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__cm3Dv:global(.__wab_instance) {
  position: relative;
}
.svg__ysO4W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wowcw {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__e9TG8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__l4RYr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__l4RYr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__l4RYr > :global(.__wab_flex-container) > *,
.freeBox__l4RYr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l4RYr > :global(.__wab_flex-container) > picture > img,
.freeBox__l4RYr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__hEbfj {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__bZah9 {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__bZah9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bZah9 > :global(.__wab_flex-container) > *,
.freeBox__bZah9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bZah9 > :global(.__wab_flex-container) > picture > img,
.freeBox__bZah9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img___0D0Zz {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__uxWW {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__vGDc {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__m8Sf8 {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__zCXpU {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-u1tPThPhfzWl);
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__zCXpU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__zCXpU > :global(.__wab_flex-container) > *,
.freeBox__zCXpU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zCXpU > :global(.__wab_flex-container) > picture > img,
.freeBox__zCXpU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zCXpU {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zCXpU > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zCXpU > :global(.__wab_flex-container) > *,
  .freeBox__zCXpU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zCXpU > :global(.__wab_flex-container) > picture > img,
  .freeBox__zCXpU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__uuvIp {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__uuvIp > picture > img {
  object-fit: cover;
}
.freeBox__nuX2Z {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nuX2Z > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nuX2Z > :global(.__wab_flex-container) > *,
.freeBox__nuX2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuX2Z > :global(.__wab_flex-container) > picture > img,
.freeBox__nuX2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuX2Z {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuX2Z > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuX2Z > :global(.__wab_flex-container) > *,
  .freeBox__nuX2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuX2Z > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuX2Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__e5Tz9 {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e5Tz9 {
    text-align: center;
  }
}
.button__u7Oc:global(.__wab_instance) {
  position: relative;
}
.svg__k8Fb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gn9Tf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
