.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.productBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__xNpD7 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xNpD7 {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.columns {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dkB7A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__fT6Ky {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__fT6Ky > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fT6Ky > :global(.__wab_flex-container) > *,
.freeBox__fT6Ky > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fT6Ky > :global(.__wab_flex-container) > picture > img,
.freeBox__fT6Ky
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__yrFn0 {
  object-fit: cover;
}
.img__yrFn0 > picture > img {
  object-fit: cover;
}
.freeBox___61HwK {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uHov {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__rBRhm {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__rBRhm > picture > img {
  object-fit: cover;
}
.column__sc5Ag {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__ca4Gq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ca4Gq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ca4Gq > :global(.__wab_flex-container) > *,
.freeBox__ca4Gq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ca4Gq > :global(.__wab_flex-container) > picture > img,
.freeBox__ca4Gq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__fhu4M {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.freeBox__wTzrU {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wTzrU > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wTzrU > :global(.__wab_flex-container) > *,
.freeBox__wTzrU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wTzrU > :global(.__wab_flex-container) > picture > img,
.freeBox__wTzrU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1UPg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__t9Znk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__t9Znk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t9Znk > :global(.__wab_flex-container) > *,
.freeBox__t9Znk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t9Znk > :global(.__wab_flex-container) > picture > img,
.freeBox__t9Znk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.svg__g4Y2F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___1ZPfq {
  width: auto;
}
.svg__fzFDr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__gdOq7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__gdOq7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gdOq7 > :global(.__wab_flex-container) > *,
.freeBox__gdOq7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gdOq7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gdOq7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gdOq7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gdOq7 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gdOq7 > :global(.__wab_flex-container) > *,
  .freeBox__gdOq7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gdOq7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gdOq7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__uTVko {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__uTVko > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uTVko > :global(.__wab_flex-container) > *,
.freeBox__uTVko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uTVko > :global(.__wab_flex-container) > picture > img,
.freeBox__uTVko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__tgXga {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__pM0Sb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pM0Sb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__pM0Sb > :global(.__wab_flex-container) > *,
.freeBox__pM0Sb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pM0Sb > :global(.__wab_flex-container) > picture > img,
.freeBox__pM0Sb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.option___8CoEb:global(.__wab_instance) {
  position: relative;
}
.option__jqvg:global(.__wab_instance) {
  position: relative;
}
.option___1XctF:global(.__wab_instance) {
  position: relative;
}
.option__aoOy9:global(.__wab_instance) {
  position: relative;
}
.option__i5JC:global(.__wab_instance) {
  position: relative;
}
.freeBox___2FM3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20px;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ifr8V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.addToCartButton:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__m8Xth {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nM9Fw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__pxpzu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___5GHv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5GHv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5GHv > :global(.__wab_flex-container) > *,
.freeBox___5GHv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5GHv > :global(.__wab_flex-container) > picture > img,
.freeBox___5GHv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sgRjT {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.description {
  height: auto;
}
.separator__qvhGc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__tKa5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tKa5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tKa5 > :global(.__wab_flex-container) > *,
.freeBox__tKa5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tKa5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tKa5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___3PveL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__oRZj {
  height: auto;
}
.separator__bq54R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__zIbq3 {
  height: auto;
}
.separator__bZosN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__taO2V {
  height: auto;
}
.separator__heL8L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___8FJgo {
  height: auto;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kyb9R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rUnJ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__bmLq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__fydf6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__oaVpZ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___39Q5Y:global(.__wab_instance) {
  position: relative;
}
.svg___6XfBc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Z5P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__gZvVj {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__gZvVj > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gZvVj > :global(.__wab_flex-container) > *,
.freeBox__gZvVj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gZvVj > :global(.__wab_flex-container) > picture > img,
.freeBox__gZvVj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.productCollection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__iy7M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bOSrM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xhHBh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7UyZx {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__kdKsS:global(.__wab_instance) {
  position: relative;
}
.text__iiJg8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8DeOz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
