.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__y7CfR {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__y7CfR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__y7CfR > :global(.__wab_flex-container) > *,
.freeBox__y7CfR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y7CfR > :global(.__wab_flex-container) > picture > img,
.freeBox__y7CfR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y7CfR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y7CfR > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y7CfR > :global(.__wab_flex-container) > *,
  .freeBox__y7CfR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y7CfR > :global(.__wab_flex-container) > picture > img,
  .freeBox__y7CfR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__axNi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__axNi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__axNi > :global(.__wab_flex-container) > *,
.freeBox__axNi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__axNi > :global(.__wab_flex-container) > picture > img,
.freeBox__axNi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1LOc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__iEa4C {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__suycG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fEdE0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gwst0:global(.__wab_instance) {
  position: relative;
}
.svg__z6OEw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wvJt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__x7P1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__x7P1B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__x7P1B > :global(.__wab_flex-container) > *,
.freeBox__x7P1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x7P1B > :global(.__wab_flex-container) > picture > img,
.freeBox__x7P1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xLx6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__b55Vx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__b55Vx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__b55Vx > :global(.__wab_flex-container) > *,
.freeBox__b55Vx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b55Vx > :global(.__wab_flex-container) > picture > img,
.freeBox__b55Vx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__kcvsG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__eItUj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jGk2T:global(.__wab_instance) {
  position: relative;
}
.svg__i5ABj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___6PtK9 {
  height: auto;
}
.svg__zMzw4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kw89:global(.__wab_instance) {
  position: relative;
}
.svg__zsEYs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__wKfdr {
  height: auto;
}
.svg__pGgtj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__a9TbT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__a9TbT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a9TbT > :global(.__wab_flex-container) > *,
.freeBox__a9TbT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a9TbT > :global(.__wab_flex-container) > picture > img,
.freeBox__a9TbT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wPhcz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox___0Wycq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__esYH {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__esYH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__esYH > :global(.__wab_flex-container) > *,
.freeBox__esYH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__esYH > :global(.__wab_flex-container) > picture > img,
.freeBox__esYH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__dkPrk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2EYq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zbzYt:global(.__wab_instance) {
  position: relative;
}
.svg__ozSe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gniWe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i4FWn:global(.__wab_instance) {
  position: relative;
}
.svg___4CsNp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jbsWa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0Jr5J:global(.__wab_instance) {
  position: relative;
}
.svg__dxKzS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fRjKe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__u4Jj9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__u4Jj9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__u4Jj9 > :global(.__wab_flex-container) > *,
.freeBox__u4Jj9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u4Jj9 > :global(.__wab_flex-container) > picture > img,
.freeBox__u4Jj9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__sCtIi:global(.__wab_instance) {
  position: relative;
}
.svg__dEfF7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pYEgi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kvr3S:global(.__wab_instance) {
  position: relative;
}
.svg__v0Po5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k77Gc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__de1KC:global(.__wab_instance) {
  position: relative;
}
.svg__w8GtC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rj4Yw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
