.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%);
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bj1Mv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bj1Mv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bj1Mv > :global(.__wab_flex-container) > *,
.freeBox__bj1Mv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bj1Mv > :global(.__wab_flex-container) > picture > img,
.freeBox__bj1Mv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tQu16 {
  display: flex;
  flex-direction: column;
}
.freeBox__tQu16 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tQu16 > :global(.__wab_flex-container) > *,
.freeBox__tQu16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tQu16 > :global(.__wab_flex-container) > picture > img,
.freeBox__tQu16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__dludh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button___6SFsI:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hUbvE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___8BTu {
  height: auto;
}
.svg__gmWf2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1T4F:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__f8N91 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xLdx4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wc07S:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___3Fi9Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oyVhc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ocqEb:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__n4EV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cKaJe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___44EKr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__dC1HF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hzg {
  height: auto;
}
.svg__g9CPs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kUqJz {
  display: flex;
  flex-direction: column;
}
.freeBox__kUqJz > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kUqJz > :global(.__wab_flex-container) > *,
.freeBox__kUqJz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kUqJz > :global(.__wab_flex-container) > picture > img,
.freeBox__kUqJz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__jIz7T {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__z2T8N:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__dv5Cm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kh6L4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kge5T:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__n5YJc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yix5Y {
  height: auto;
}
.svg__qhkuT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gu2Xe:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___80AWh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___84En0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__fr5IF {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fr5IF > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fr5IF > :global(.__wab_flex-container) > *,
.freeBox__fr5IF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fr5IF > :global(.__wab_flex-container) > picture > img,
.freeBox__fr5IF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fr5IF > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard___0H7Rj:global(.__wab_instance) {
  position: relative;
}
.svg__ktlbp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zupPt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mDtd0 {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__utHta:global(.__wab_instance) {
  position: relative;
}
.productCard__cbvOa:global(.__wab_instance) {
  position: relative;
}
.svg__kuBbf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gRsh1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hpvRi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__wrxOh {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__iErj6:global(.__wab_instance) {
  position: relative;
}
.productCard__cDgCc:global(.__wab_instance) {
  position: relative;
}
.svg__xPwaf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__leka0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__noUiY {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__koila {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating___6RpMc:global(.__wab_instance) {
  position: relative;
}
.productCard__bv48:global(.__wab_instance) {
  position: relative;
}
.svg__h6Rew {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ypqUq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rkd2I {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0E7Fw {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__a6R9:global(.__wab_instance) {
  position: relative;
}
.productCard__vkoy:global(.__wab_instance) {
  position: relative;
}
.svg__cqcEs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yafAh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lAnKm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uYec8 {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__q3Qhz:global(.__wab_instance) {
  position: relative;
}
.productCard__aZ3Z:global(.__wab_instance) {
  position: relative;
}
.svg__vsWMa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4XmG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xjFg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__i1YKq {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__eJkq3:global(.__wab_instance) {
  position: relative;
}
.productCard__sXvux:global(.__wab_instance) {
  position: relative;
}
.svg__xjNmf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___52ROk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__t4BMn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dTZm {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__p3NJ:global(.__wab_instance) {
  position: relative;
}
.productCard__mybrI:global(.__wab_instance) {
  position: relative;
}
.svg___0X3N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jzi4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sOoSp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ldLxx {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__ok3Vy:global(.__wab_instance) {
  position: relative;
}
.productCard__rHnQa:global(.__wab_instance) {
  position: relative;
}
.svg__rai5C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__szisv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dKsF {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__og4G1 {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating___7EJ1P:global(.__wab_instance) {
  position: relative;
}
.productCard__wuIgk:global(.__wab_instance) {
  position: relative;
}
.svg__dgzE5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fj4T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__oA3GC {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___25McH {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__xinOq:global(.__wab_instance) {
  position: relative;
}
.productCard__z0PZ:global(.__wab_instance) {
  position: relative;
}
.svg__tDkwq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__msRLz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5V3W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jzqFj {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__pmM4G:global(.__wab_instance) {
  position: relative;
}
.productCard__t9LlT:global(.__wab_instance) {
  position: relative;
}
.svg__liAod {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n6Sxf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qUkg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pmAKo {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__fcaP:global(.__wab_instance) {
  position: relative;
}
.productCard__cBMs:global(.__wab_instance) {
  position: relative;
}
.svg__iWlqg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0KoXw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__knomR {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__w07M5 {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating___1H0Iz:global(.__wab_instance) {
  position: relative;
}
.productCard__cFw1:global(.__wab_instance) {
  position: relative;
}
.svg__p4RYy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bs3G6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___7EvOp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__cJRw {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__duSj:global(.__wab_instance) {
  position: relative;
}
.productCard__k5Hce:global(.__wab_instance) {
  position: relative;
}
.svg__djLb0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hlZv1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__kn9Go {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__f4LH {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating__py48G:global(.__wab_instance) {
  position: relative;
}
.productCard___9ChO:global(.__wab_instance) {
  position: relative;
}
.svg__oX4Oo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ozkIw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___19YQ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__u5FA7 {
  width: 100%;
  height: auto;
  color: var(--token-LZCUHOOWbibl);
  text-align: left;
  min-width: 0;
}
.rating___0GCgJ:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
